:root {
    --lightblue: #e8f6fc;
    --darker-blue: #8fddfe;
    --lightgreen: #f3f4f0;
    --vegan: #f4f9f0;
    --meat: #fcf1f0;
    --dessert: #fffbf4;
    --lunch: #f4f4f4;
    --chocolate: #f5f5f5;
    --web-flow: #f69487; 
} 

*{
  font-family: "Poppins", serif; 
}
 
body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

/* Blog Search starts Here */
.blog-article {
    text-align: center;
    margin: 10px 0;
}

.blog-article h2 {
    font-size: 2.5rem;
}

.blog-article p {
    font-size: 0.8rem;
}

.blog-search {
    border: 1px solid #e4e4e4;
    width: 27vw;
    height: 6vh;
    margin:40px 0 20px 560px;
    border-radius: 25px;

}

.blog-search input {
    width: 20vw;
    height: 6vh;
    padding-left: 24px;
    border-radius: 25px 0 0 25px;
    border: none;
    outline: none;
}

.blog-search button {
    width: 6.5vw;
    height: 6vh;
    background-color: black;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

@media (width <= 63em) {
    .blog-article p {
        font-size: 1.15rem;
    }

    .blog-search {
        width: 67vw;
        margin: 40px 0 20px 190px;
    }

    .blog-search input {
        width: 50vw;
    }

    .blog-search button {
        width: 15.9vw;
        font-size: 1rem;
        border-radius: 0 25px 25px 0;
    }


}

@media (width <= 40em) {

    .blog-article p {
        padding: 0 20px;
    }

    .blog-search {
        width: 87vw;
        margin: 40px 0 20px 23px;
    }

    .blog-search input {
        width: 63vw;
    }

    .blog-search button {
        width: 21.9vw;
    }
}


/* Blog Search Ends Here */

/* Menu Section Starts Here */

/* blog-media-Left */
.media-section {
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 2fr;
    margin: 40px 90px;
}

.med-blog {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.blog1 {
    border-radius: 18px;
    width: 24vw;
    height: 32vh;
    margin-top: 5px;
    overflow: hidden;
}

.blog1 img {
    border-radius: 18px;
    width: 24vw;
    height: 32vh;
    display: block;
}

.blog2-text a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.blog2-profile {
    display: flex;
    justify-content: flex-start;
    padding: 4px;
    margin-top: 50px;
}

.blog2-pro {
    display: flex;
    padding-right: 90px;
}

.blog2-pro  img {
    width: 2.5vw;
    height: 6vh;
    border-radius: 50%;
    margin: 0 9px 0 0;
}

.blog2-pro a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.blog2-date {
    border-left: 1px solid #e4e4e4;
    padding-left: 10px;
}

.blog2-date p, .blog2a-text p {
    color: #8d8d8d;
}

/* blog-media-right */


.med-blog2 {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.blog1a {
    border-radius: 18px;
    width: 12vw;
    height: 20vh;
    margin-top: 12px;
    overflow: hidden;
}


.blog1a img {
    border-radius: 18px;
    width: 10vw;
    height: 15vh;
    display: block;
}

.blog2a-text h2 a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}


.blog2a-text p a {
    text-decoration: none;
    color: black;
}

.blog-ads {
    margin: 40px 60px;
}


.next-page {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}

.n-pages {
    border: 1px solid #b0b0b0;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* .active {
    background-color: var(--lightblue);
}

.active a{
    color: rgb(0, 0, 0);
} */

@media (width <= 63em) {

    .media-section {
        grid-template-columns: 2fr 1fr;
        margin: 40px 30px;
    }

    .blog1 {
        margin-top: 30px;
        width: 34vw;
        height: 18vw;
    }

    .blog1 img {
        height: auto;
    }

    .blog1a {
        border-radius: 12px;
        width: 12vw;
        height: auto;
        /* height: 10vh; */
    }

    .blog1a img {
        width: 15vw;
        height: 9vh;
    }

    .blog2-profile {
        margin-top: 20px;
    }


    .med-blog {
     display: flex; 
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    }

    .med-blog2 {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        padding: 10px;
    }

    .blog-ads {
        margin: 90px 5px 90px 10px;
    }

    .blog-ads img {
        width: 24vw;
    }

    .blog2-text a {
        font-size: 1.2rem;
    }

    .blog2-text p {
        font-size: .9rem;
    }

    .blog2-pro {
        padding-right: 20px;
    }

    .blog2-pro img {
        width: 5.5vw;
        height: 5vh;
    }

    .blog2-pro h2 {
        margin-top: 6px;
    }

    .blog2-pro a {
            font-size: 1rem;
        }
    .blog2-date {
        padding-left: 10px;
    }

    .blog2a-text h2 a {
        font-size: 1.1rem;
    }

    
}

@media (width <= 40em) {

    .media-section {
        display: flex;
        flex-direction: column;
        margin: 40px 30px;
    }

    .blog-search {
        margin: 40px 0 20px 35px;
    }

    .media-section {
        margin: 40px 20px;
    }

    .blog1 {
        margin-top: 30px;
        width: 34vw;
        height: 48vw;
    }

    .blog1 img {
        width: 44vw;
        height: 24vh;
    }

    

    .blog-ads {
        margin: 30px 20px;
    }

    .blog-ads img {
        width: 82vw;
    }

    .blog1a {
        width: 42vw;
    }

    .blog1a img {
        width: 35vw;
        height: 18vh;
    }
    
    .blog2 {
        width: 50vw;
    }

    .blog2-pro {
        margin-top: 10px;
    }

    .blog2-pro img {
        margin-top: 20px;
    }

    .blog2-pro a {
        font-size: .8rem;
    }

    .n-pages {
        padding: 10px 10px;
    }
}


/* Menu Section Ends Here */

