:root {
    --lightblue: #e8f6fc;
    --darker-blue: #8fddfe;
    --lightgreen: #f3f4f0;
    --vegan: #f4f9f0;
    --meat: #fcf1f0;
    --dessert: #fffbf4;
    --lunch: #f4f4f4;
    --chocolate: #f5f5f5;
    --web-flow: #f69487; 
} 

*{
  font-family: "Poppins", serif; 
}
 
body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

.contact-view {
    margin:  20px 70px;
    padding: 10px;
}

.contact-header  h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}

section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.contact-img {
    width: 60%;
    height: 89vh;
    border-radius: 26px;
    background-image: linear-gradient(white 60px, #e8f6fc);
}

.contact-img img {
    width: 30vw;
    margin: 3.97px 0 0 23px;
}
form {
    width: 100%;

}

.info-inputs {
    display: flex;
    justify-content: space-between;
}

.name-email, .subject, .text-info {
    margin: 10px;
    width: calc(100% / 2 - 20px); 
}

.name-email input, .subject input, #enquiry {
    width: 22vw;
    height: 7vh;
    outline: none; 
    border-radius: 15px;
    border: 1px solid #dadada;
}

#enquiry {
    height: 7vh;
    width: 22.2vw;
    padding: 10px;
    outline: none;
    border-radius: 15px;
    border: 1px solid #dadada;
}

.name-email label, 
.subject label, 
.text-info label {
    font-size: .8rem;
}

.text-info {
    width: 50vw;
}

.text-info #message {
    width: 100%;
    border-radius: 15px;
    padding: 20px ;
    resize: none;
    border: 1px solid #dadada;
}

.button {
    width: 12vw;
    height: 10vh;
    margin: 10px;
    font-size: .9rem;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 1px solid #dadada;
    cursor: pointer;
}

@media (width <= 63em) {
    .contact-view {
        margin: 20px 10px;
        padding: 0;
    }

    section {
        padding: 10px;
    }

    .contact-img {
        width: 30%;
        height: 32vh;
        overflow: hidden;
    }

    .contact-img img {
        width: 24.3vw;
        margin: 77.97px 0 0 13px;
    }

    .name-email input, .subject input, #enquiry {
        width: 28vw;
        height: 4vh;
    }

    #enquiry {
        height: 4vh;
        width: 28.2vw;
        font-size: 1vmax;
        color: #8d8d8d;
    }

    .text-info {
        width: 60vw;
        height: 13vh;
    }

    input::placeholder {
        font-size: 1vmax;
    }

    .text-info #message {
        width: 100%;
        height: 100%;
        padding: 4%;
        font-size: 1vmax;
        color: #8d8d8d;
    }

   

    .button {
        width: 17vw;
        height: 4vh;
        margin: 50px 10px 10px 10px;
    }
}

@media (width <= 50em) {

    .contact-img {
        height: 34vh;
    }

    .contact-img img {
        margin: 65.97px 0 0 13px;
    }

    .button {
        height: 5vh;
    }

}

@media (width <= 40em) {
    .contact-header h1 {
        font-size: 3rem;
    }

    section {
        flex-wrap: wrap;
    }

    .contact-img {
        width: 100%;
        height: 35vh;
        margin-top: 30px;
    }

    .contact-img img {
        width: 60%;
        margin: 6px 0 0 78px;
    }

    .name-email label, 
    .subject label, 
    .text-info label {
        font-size: .4rem;
    }

    .name-email input, .subject input {
        width: 38vw;
        height: 4vh;
        border-radius: 5px;
    }

    #enquiry {
        width: 39vw;
        height: 4.5vh;
        border-radius: 5px;
    }

    .text-info {
        width: 83vw;
        height: 23vh;
    }

    .text-info #message {
        width: 93%;
    }
    .button {
        width: 24vw;
        border-radius: 9px;
    }
}


@media (width <= 23em) {
    .name-email label, .subject label, .text-info label {
            font-size: .38rem;
    }

}




/* Contact Form  Ends Here */