:root {
    --lightblue: #e8f6fc;
    --darker-blue: #8fddfe;
    --lightgreen: #f3f4f0;
    --vegan: #f4f9f0;
    --meat: #fcf1f0;
    --dessert: #fffbf4;
    --lunch: #f4f4f4;
    --chocolate: #f5f5f5;
    --web-flow: #f69487;
}

*{
  font-family: "Poppins", serif; 
}

body {
    margin: 0;
    padding: 0;
    
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}


/* Health Japanese Fried Rice Start here */

.fried-rice {
    display: flex;
    justify-content: space-between;
    margin: 2em 5em;
    padding: 0 min(1em, 12vw);
}



.health-hd h1 {
    font-size: min(5rem, 3.5vw);
}
.health-hd a {
    text-decoration: none;
    color: black;
}

.pro1 {
    display: flex;
    justify-content: flex-start;
    gap: 3em;
}

.profile-nam1 {
    display: flex;
    gap: 0.8em;
}

.profile-border {
    border-left: 1px solid #c3c3c3;
    padding-left: 1em;
}

.profile-border i {
    margin:1em 0 -1em 0;
    font-size: 1.3rem;
}

.profile-nam1 h2 {
    font-size: min(0.7rem, 5vw);
    font-weight: 600;
    margin:1.6em 0 -1em 0;

}

.profile-nam1 p {
    font-size: min(0.6rem, 5vw);
    font-weight: 400;
    color: #a1a1a1;
}

.profile-nam1 a {
    text-decoration: none;
    color: black;
}

.chicken p {
    margin:2em 0 -1em 0;
}

/* share-icon */

.share-icon1 {
    display: flex;
    justify-content: flex-end;
    gap: 3em;
    margin: 4em 0.5em 4.5em 0;
}

.print1 i {
    font-size: 1.5rem;
    background-color: var(--lightblue);
    padding: 0.6em 0.7em;
    border-radius: 50%;
}

.print1 p {
    font-size: min(0.7rem, 3vw);
    text-align: center;
}

.share-icon1 a{
    text-decoration: none;
    color: black;
}

@media (width <= 63em) {
    .fried-rice {
        margin: 2em .8em;
    }

    .health-hd h1 {
        font-size: min(5rem, 4.2vw);
    }

    .pro1 {
        gap: 1em;
    }

}

@media (width <= 40em) {

    .pro1 {
        display: flex;
        justify-content: flex-start;
        /* flex-wrap: wrap; */
        gap: .4em;
    }

    .profile-nam1 p {
        font-size: min(0.4rem, 5vw);
        margin-top: 9px;
    }

    .share-icon1 {
        gap: 2em;
        margin: .5em 0.5em .5em 120px;
    }

    .print1 i {
        font-size: 1rem;
        text-align: center;
        padding: 0.6em 0.7em;
    }
    
    .profile-nam1 {
        display: flex;
        gap: 0.8em;
    }
    
    .profile-border {
        border-left: 1px solid #c3c3c3;
        padding-left: 1em;
    }

    .fried-rice {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 2em 1em;
        /* padding: 0 min(1em, 12vw); */
    }

    .prof-img1 img {
        width: 10vw;
    }
    
    .profile-nam1 h2 {
        font-size: min(0.6rem, 5vw);
        font-weight: 600;
        margin: -.4em 0 -1em 0;
    }

    .profile-border i {
        font-size: .9rem;
    }

    .text {
        text-align: center;
    }

    .ingredients-others {
        display: flex;
        flex-wrap: wrap;
        margin: 1em 1em;
    }

    .blog2a-text a {
        font-size: 1rem;
    }


    .right-ingredin {
        margin-right: .6em;
    }

    .ingredinets {
        margin-right: 3px;
    }

    /* {
        font-size: .4rem;
    } */
}

/* Health Japanese Fried Rice Ends Here */


/* nutrition-information Start Here  */

.nutrition-information {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin: 1em 6em;
}

video, source {
    border-radius: 40px;
}

.nut-info {
    background-color: var(--lightblue);
    border-radius: 20px;
    padding: 1em;
}

.calories {
    display: flex;
    justify-content: space-between;
}

.nut-info-text {
    margin-top: 4em;
}

.text {
    margin: 2em 6em;
}



/* ingredients-others Starts Here */

.ingredients-others {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 1em 6em;
}

.media-text-head {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

.media-text-head a{
    text-decoration: none;
    color: black;
}

.right-ingredin {
    margin-right: 3em;
}

.menu-list p {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 1em;
}


@media (width <= 63em) {

    .nutrition-information {
        gap: 3em;
        margin: 1em .9em;
    }

    .text {
        margin: 2em 1em;
    }

    .nutrition-information {
        gap: 1em;
        margin: 1em 1em;
    }

    video {
        width: 70vw;
        border: .2px solid #d5d5d5;
        border-radius: 15px;
    }

    .nut-info-heading h2 {
        font-size: 1.2rem;
    }

    .calories p {
        font-size: .6rem;
    }

    .nut-info-text {
        margin-top: .2em;
        font-size: .8em;
    }

    .ingredinets {
        margin-right: 20px;
    }

    .ingredients-others {
        grid-template-columns: 2fr 1fr;
        margin: 1em 1em;
    }

    .media-text1 img {
        width: 100%;
    }

    .blog1a {
        width: 20vw;
    }

    .blog1a {
        width: 35vw;
    }

    .blog1a img {
        width: 35vw;
    }

    .blog-ads img {
        width: 100%;
        margin-top: 90px;
    }

    .blog2a-text a{
        color: black;
        text-decoration: none;
    }

}


@media (width <= 40em) {
    .nutrition-information {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    video {
        width: 100%;
        border: .2px solid #d5d5d5;
        border-radius: 15px;
    }

    .fried-rice {
        margin: 2em .5em;
    }

    .health-hd a {
        text-decoration: none;
        color: black;
        font-size: 1.42rem;
    }

    .pro1 {
        gap: .6em;
    }

    .media-text-head {
        gap: .2rem;
    }

    .media-text-head a {
        font-size: 1rem;
    }

}







